%ul.list-inline
  %li
    %i{class: "fa fa-pencil", style: "color:#0489B1;"}
  %li
    %span{style:"color: #0B3861;"}= log_entry.user.name
    a modifié le ticket le
    %span{style:"color: black;"}= l(log_entry.created_at.utc, format: "%d %B %Y à %H:%M")