%ul.list-inline
  %li
    %i{class: "fa fa-cog", style: "color:#DF7401;"}
  %li
    %span{style:"color: #0B3861;"}= log_entry.user.name
    a commencé le traitement du ticket le
    %span{style:"color: black;"}= l(log_entry.created_at.utc, format: "%d %B %Y à %H:%M")